@import 'base';

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
}



ul {
  font-weight: 100;
  padding-left: 1em;
  padding-bottom: 1em;
  list-style-type: circle;
}

li + ul, ul + li, li + li {
  padding-top: 0.3em;
}

button, input {
  font-family: var(--font-family);
}

textarea:focus, input:focus{
  outline: none;
}

input[type=text], input[type=email], input[type=password], .button, a.button, button, .input-box {
  height: 44px;
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border: 0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

input[type=text], input[type=email], input[type=password], .input-box {
  background: #fff;
  color: #737373;
}

input:disabled {
  color: #afafaf;
}

.input-box {
  display: flex;
  & input {
    flex-grow: 1;
    font-size: 14px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;
    margin: 0;
    box-shadow: none;
    height: auto;
  }
  & label {
    display: flex;
    align-items: center;
    color: #afafaf;
  }
  & svg {
    fill: #737373;
  }
}

.button, a.button, button {
  background: var(--color-button);
  border: 0;
  color: var(--color-button-text);
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  line-height: 44px;
}

header {
  a {
    margin: 0 10px;
  }
}

.modal-container {
  align-items: flex-start;
  background: #000000c7;
  & .modal {
    margin-top: 5rem;
    background: var(--color-background);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  }
  button {
    margin-top: 1em;
  }
}

svg {
  display: block;
  height: 20px;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  fill: var(--color-text);
}

.notice {
  padding: 1em;
  border: 1px solid var(--color-border);
  border-radius: 0.5em;
  text-align: center;
  margin-bottom: 3em;
  & svg {
    width: 100%;
    height: 70px;
    margin: 1em 0;
  }
  & p {
    margin-bottom: 1em;
  }
}

.card {
  width: 25em;
  margin: auto;
  text-align: center;
  &-wide {
    width: 40em;
  }
  & h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
  }
  & h1, h2, h3 {
    margin-bottom: 1em;
  }
  & [type=submit] {
    width: 100%;
    display: block;
    position: relative;
  }

  & input[type=checkbox] {
    margin-bottom: 10px;
  }
  & label {
    color: var(--color-text);
  }
  & a {
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    display: inline-block;
  }
  & .login-help {
    color: var(--color-text);
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
    & a {
      color: var(--color-text);
    }
  }
  & .login-cancel {
    margin: 30px 0;
  }
  & .login-client-image img {
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  & .upstream-button {
    background: white;
    color: #737373;
    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      &--plus {
        width: 27px;
      }
    }
    &__text {
      display: inline-block;
      vertical-align: middle;
      padding: 0 24px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.grant-debug {
  text-align: center;
  font-family: Fixed, monospace;
  width: 100%;
  font-size: 12px;
  color: #999;
  & div {
    padding-top: 10px;
  }
}

.profile-section {
  text-align: left;
  padding-bottom: 3em;
  & p {
    padding-bottom: 0.2em;
  }
  & .item {
    display: flex;
    padding-bottom: 2em;
    & h3 {
      padding-bottom: 0.3em;
      & span {
        font-size: 12px;
      }
    }
    & svg {
      height: 20px;
    }
    &-details {
      width: 75%;
      overflow-wrap: anywhere;
      &> * {
        margin-bottom: 1em;
      }
    }
    &-actions {
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.profile-section-header, .modal-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-border);
  & svg {
    height: 16px;
  }
}
.modal-header {
  & svg {
    height: 24px;
  }
  & h2 {
    padding-right: 1em;
  }
}
