<div class="login-client-image">
  <% if (client.logoUri) { %><img src="<%= client.logoUri %>"><% } %>
</div>

<div class="terms-of-service">
  <%- text -%>
</div>

<% if (save) { %>
<form autocomplete="off" action="/interaction/<%= uid %>/confirm-tos" method="post">
  <button autofocus type="submit" class="login login-submit">Continue</button>
</form>
<% } %>

<style>
    .terms-of-service {
      width: 100%;
      height: 300px;
      overflow-y: scroll;
      margin-bottom: 30px;
      padding: 15px;
      box-shadow: inset 0 0 5px 0 #0000004f;
      border-radius: 5px;
      text-align: left;
    }
    .terms-of-service h1, .terms-of-service h2, .terms-of-service h3, .terms-of-service h4, .terms-of-service h5, .terms-of-service h6 {
      margin-bottom: 0.75em;
    }
    .terms-of-service a {
      color: var(--vt-c-blue);
    }
</style>
