<div class="login-client-image">
  <% if (client.logoUri) { %><img src="<%= client.logoUri %>"><% } %>
</div>

<div class="terms-of-service">
  <%- text -%>
</div>

<form autocomplete="off" action="/interaction/<%= uid %>/confirm-tos" method="post">
  <button autofocus type="submit" class="login login-submit">Continue</button>
</form>

<style>
    .terms-of-service {
        width: 100%;
        height: 100px;
        overflow-y: scroll;
        margin-bottom: 30px;
    }
</style>
