<div>
    <p>Hi, <%= name %>!</p>
    <p>You agreed with the following Terms of Service at <%= timestamp %></p>
    <p>Content SHA256 hash: <%= hash %></p>
    <blockquote>
        <%- content -%>
    </blockquote>
</div>
